# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Spotlight
.Spotlight-V100
.Trashes

# Finder
.AppleDB
.AppleDesktop

# Temporary files
*.swp
*.swo
*~

# VS Code
.vscode/

# JetBrains
.idea/

# Python
__pycache__/
*.py[cod]
